**Problem 2)** Please download the HR analytics dataset from kaggle (link below). Study the dataset, explore it, and prepare a few figures/visualizations that either help to better understand the dataset at a glance or it shows some interesting aspects of it. Please prepare 3 to max 5 figures/visualizations in your notebook/markdown.
https://www.kaggle.com/ludobenistant/hr-analytics

In [1]:
from subprocess import check_output
print (check_output(["ls", "./data"]).decode("utf8"))

HR_comma_sep.csv

In [18]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

import plotly 
plotly.tools.set_credentials_file(username='udothemath1984', api_key='bGbKyZYnN6RGJj43vpkS')

%matplotlib inline

df = pd.read_csv('./data/HR_comma_sep.csv')

In [20]:
import plotly.plotly as py
import plotly.figure_factory as ff
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")

table = ff.create_table(df)
py.iplot(table, filename='table1')

In [3]:
print (df.shape)
print (df.describe())
df.head()

(14999, 10)
       satisfaction_level  last_evaluation  number_project  \
count        14999.000000     14999.000000    14999.000000
mean             0.612834         0.716102        3.803054
std              0.248631         0.171169        1.232592
min              0.090000         0.360000        2.000000
25%              0.440000         0.560000        3.000000
50%              0.640000         0.720000        4.000000
75%              0.820000         0.870000        5.000000
max              1.000000         1.000000        7.000000

       average_montly_hours  time_spend_company  Work_accident          left  \
count          14999.000000        14999.000000   14999.000000  14999.000000
mean             201.050337            3.498233       0.144610      0.238083
std               49.943099            1.460136       0.351719      0.425924
min               96.000000            2.000000       0.000000      0.000000
25%              156.000000            3.000000       0.000000      0.000000
50%              200.000000            3.000000       0.000000      0.000000
75%              245.000000            4.000000       0.000000      0.000000
max              310.000000           10.000000       1.000000      1.000000

       promotion_last_5years
count           14999.000000
mean                0.021268
std                 0.144281
min                 0.000000
25%                 0.000000
50%                 0.000000
75%                 0.000000
max                 1.000000

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
print (set(df['salary']) )
print (set(df['sales']) )

{'low', 'medium', 'high'}
{'product_mng', 'hr', 'marketing', 'IT', 'accounting', 'management', 'technical', 'RandD', 'sales', 'support'}

In [22]:
# Learn about API authentication here: https://plot.ly/pandas/getting-started
# Find your api_key here: https://plot.ly/settings/api

import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
import numpy as np # for generating random data

N = 500
x = np.linspace(0, 1, N)
y = np.random.randn(N)
df = pd.DataFrame({'x': x, 'y': y})
df.head()

data = [go.Histogram(y=df['y'])]

# IPython notebook
py.iplot(data, filename='simple-histogram')

# Open new tab
#url = py.plot(data, filename='simple-histogram')

In [ ]:
fig, ax = plt.subplots()

a_heights, a_bins = np.histogram(df['satisfaction_level'])

width = (a_bins[1] - a_bins[0])/3

ax.bar(a_bins[:-1], a_heights, width=width, facecolor='cornflowerblue')
#ax.bar(a_bins[:-1], a_heights, facecolor='cornflowerblue')

In [ ]:
from matplotlib.pyplot import hist

df = pd.DataFrame({
    'type': df['sales'],
    'rate': df['satisfaction_level']  
})

print (df)

#df.plot( x='type', y='rate', kind='hist')


#hist(df.type, weights=df.rate)

- Comparison  
- Relationship
- Distribution
- Composition

## Discovery ##
## Storytelling ##
## Make a case ##

### Reference
http://www.datavizcatalogue.com/search.html